body{
    margin:0;
    padding:0;
    background:#eff3f9;
    position:relative;
  }
  header{
    width:100%;
    height:260px;
    background:#0061f2;
    font-weight: bold;
    opacity: .5;
  }
  
  
   @media only screen and (min-width:320px){
     footer{
    width:100%;
    height:50px;
  }
   main{
   position:relative;
   top:-100px;
   margin:20px; 
   display:grid;
   grid-gap:20px;
   grid-template-columns:1fr;
   grid-template-rows: 
  minmax(500px,auto) minmax(500px,auto) minmax(500px,auto) minmax(150px,auto) 
  minmax(150px,auto) minmax(150px,auto)
  minmax(150px,auto) minmax(500px,auto);
   grid-template-areas:
     "welcome-back"
     "recent-activity"
     "progress-tracker"
     "earnings-monthly"
     "earnings-year"
     "task-completion"
     "pending-request"
     "table"
    }
  }
  
  @media only screen and (min-width:767px)
  {
    footer{
    width:100%;
    height:100px;
  }
    main{
   position:relative;
   top:-100px;
   display:grid;
   grid-gap:5px;
   grid-template-columns:1fr 1fr;
   grid-template-rows: 
  minmax(150px,auto) minmax(300px,auto) minmax(100px,auto) minmax(100px,auto) 
  minmax(500px,auto);
   grid-template-areas:
     "welcome-back welcome-back "
     "recent-activity progress-tracker"
     "earnings-monthly earnings-year"
     "task-completion pending-request"
     "table table"
    }
  }
  
  @media only screen and (min-width:1024px){
    footer{
    width:100%;
    height:30px;
  }
    main{
    position:relative;
    top:-100px;
    margin-top:10px;
    margin-left:150px;
    margin-right:150px;
   display:grid;
   grid-gap:5px;
   grid-template-columns:repeat(4,1fr);
   grid-template-rows:minmax(100px,auto) minmax(300px,auto) minmax(100px,auto) minmax(400px,auto);
   grid-template-areas:
     "welcome-back welcome-back welcome-back welcome-back"
     "recent-activity recent-activity progress-tracker progress-tracker"
     "earnings-monthly earnings-year task-completion pending-request"
     "table table table table"
    }
  }
  
  main div{
    border-radius:5px;
    
  }
  .welcome-back{
   grid-area:welcome-back;
   background:#fff;
  }
  .recent-activity{
   background:#fff;
   grid-area:recent-activity;
  }
  .progress-tracker{
   grid-area:progress-tracker;
   background:#fff;
  }
  .earnings-monthly
  {
   grid-area:earnings-monthly;
   background:#0061f2;
  }
  .earnings-year{
   grid-area:earnings-year;
   background:#f4a100;
  }
  .task-completion
  {
   grid-area:task-completion;
   background:#00ac69;
  } 
  .pending-request{
    grid-area:pending-request;
    background:#e81500;
  }
  .table{
    grid-area:table;
    background:#fff;
  }
  p{
    color: red;
    background-color: #0061f2;
    font-weight: bold;
    font-size: large;
  }
  h1 {
    margin: 10px;
  }

header{
  background-color: slateblue;
}
p{
  background-color: seagreen;
}
